fairmof_api/upload.py
fairmof_api/test.sh
fairmof_api/comment.txt
fairmof_api/analyse.py
fairmof_api/download.py
fairmof_api/quick_find.py
fairmof_api/comment.txt
fairmof_api/download_from_entry_id.py  
.vscode/
.pyenv
.DS_Store
data/FAIR-MOFs/
data/csv/
fairmof_api/__pycache__/
poetry.lock
